In [33]:
!pip install pandas 
import pandas as pd
import numpy as np

Requirement already satisfied: pandas in c:\users\vaishnavi\appdata\local\programs\python\python311\lib\site-packages (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\vaishnavi\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\vaishnavi\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2022.6)
Requirement already satisfied: tzdata>=2022.1 in c:\users\vaishnavi\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\vaishnavi\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\vaishnavi\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip available: 22.3 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
df=pd.read_csv("iris.data.csv")
print(df)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [3]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [4]:
df.shape

(150, 5)

In [5]:
df.head(2)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [6]:
df.tail(1)

     sepal_length  sepal_width  petal_length  petal_width    species
149           5.9          3.0           5.1          1.8  virginica

In [7]:
type(1)

int

In [8]:
df.isnull()

     sepal_length  sepal_width  petal_length  petal_width  species
0           False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
145         False        False         False        False    False
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False

[150 rows x 5 columns]

In [9]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [10]:
df.isnull().sum().sum()

0

In [11]:
df1=df.fillna(value = 0)

In [12]:
df1.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [13]:
df2=df.fillna(value=df["sepal_length"].mean())

In [14]:
df2.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [15]:
df3=df.fillna(value=df["sepal_length"].min())

In [16]:
df3.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [17]:
df4=df.dropna()

In [18]:
df4.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [19]:
df["petal_length"]=df["petal_length"].round(0).astype(int)

In [20]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5             1          0.2  setosa
1           4.9          3.0             1          0.2  setosa
2           4.7          3.2             1          0.2  setosa
3           4.6          3.1             2          0.2  setosa
4           5.0          3.6             1          0.2  setosa

In [21]:
df["petal_length"].dtypes

dtype('int32')

In [22]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5             1          0.2  setosa
1           4.9          3.0             1          0.2  setosa
2           4.7          3.2             1          0.2  setosa
3           4.6          3.1             2          0.2  setosa
4           5.0          3.6             1          0.2  setosa

In [23]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [24]:
le = LabelEncoder()

In [25]:
df['species'] = le.fit_transform(df['species'])

In [26]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5             1          0.2        0
1           4.9          3.0             1          0.2        0
2           4.7          3.2             1          0.2        0
3           4.6          3.1             2          0.2        0
4           5.0          3.6             1          0.2        0

In [27]:
df

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5             1          0.2        0
1             4.9          3.0             1          0.2        0
2             4.7          3.2             1          0.2        0
3             4.6          3.1             2          0.2        0
4             5.0          3.6             1          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0             5          2.3        2
146           6.3          2.5             5          1.9        2
147           6.5          3.0             5          2.0        2
148           6.2          3.4             5          2.3        2
149           5.9          3.0             5          1.8        2

[150 rows x 5 columns]

In [28]:
df.species.value_counts()

species
0    50
1    50
2    50
Name: count, dtype: int64

In [29]:
df["petal_length"].dtypes

dtype('int32')

In [30]:
df['petal_length'] = df['petal_length'].astype(float)

In [31]:
df["petal_length"].dtypes

dtype('float64')

In [32]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.0          0.2        0
1           4.9          3.0           1.0          0.2        0
2           4.7          3.2           1.0          0.2        0
3           4.6          3.1           2.0          0.2        0
4           5.0          3.6           1.0          0.2        0

In [ ]:
# ure! Here's an explanation of the keywords and concepts used in the code:

# pandas (pd): pandas is a data manipulation library in Python. It provides data structures and functions to efficiently work with structured data. In the code, it is used to read the dataset from a CSV file and create a DataFrame to store the data.

# numpy (np): numpy is a numerical computing library in Python. It provides support for large, multi-dimensional arrays and matrices, along with a collection of mathematical functions. In the code, it is used for numerical computations.

# DataFrame: DataFrame is a data structure in pandas that represents a two-dimensional table of data with rows and columns. It is used to store and manipulate the dataset.

# read_csv(): This function is used to read a CSV (Comma-Separated Values) file and create a DataFrame in pandas. The CSV file contains the data for analysis.

# describe(): It is a method in pandas DataFrame that provides descriptive statistics of the dataset, including count, mean, standard deviation, minimum, quartiles, and maximum values.

# shape: It is an attribute of the DataFrame that returns the dimensions (rows, columns) of the dataset.

# head(): It is a method in pandas DataFrame that returns the first few rows of the DataFrame. It is used to quickly examine the structure and contents of the loaded data.

# tail(): It is a method in pandas DataFrame that returns the last few rows of the DataFrame. It is used to examine the end of the dataset.

# type(): It is a built-in Python function used to determine the type of an object or variable.

# isnull(): It is a method in pandas DataFrame that checks for missing values (NaN) in the dataset. It returns a Boolean DataFrame indicating the presence of missing values.

# sum(): It is a method in pandas DataFrame that calculates the sum of values along the specified axis. In the code, it is used to calculate the total count of missing values.

# fillna(): It is a method in pandas DataFrame that replaces missing values with specified values or strategies. In the code, it is used to fill the missing values with either 0, the mean value of a column, or the minimum value of a column.

# dropna(): It is a method in pandas DataFrame that removes rows or columns with missing values. In the code, it is used to drop rows with missing values.

# astype(): It is a method in pandas DataFrame that is used to change the data type of a column. In the code, it is used to convert the "petal_length" column to integer and then float.

# LabelEncoder: It is a class from the sklearn.preprocessing module in scikit-learn. It is used for encoding categorical variables into numerical labels. In the code, it is used to encode the "species" column into numerical labels.

# fit_transform(): It is a method in the LabelEncoder class that fits the encoder to the data and transforms the target column into encoded labels.

# value_counts(): It is a method in pandas DataFrame that returns the counts of unique values in a column. In the code, it is used to get the count of each species in the "species" column.

# These are the main keywords and concepts used in the code. They are related to data manipulation, data analysis, and data preprocessing using pandas, numpy, and scikit-learn libraries.





# User
# TELL MEE QUESTIONS AND ANSWERS RELATED TO THIS ASSINMENT
# ChatGPT
# Certainly! Here are some questions and their corresponding answers related to the assignment:

# Q1: What does the df.describe() function do?
# A1: The df.describe() function provides descriptive statistics of the dataset. It gives information such as count, mean, standard deviation, minimum, quartiles, and maximum values for each numeric column in the DataFrame.

# Q2: How do you check the dimensions (number of rows and columns) of a DataFrame?
# A2: You can use the shape attribute of the DataFrame. For example, df.shape returns a tuple (rows, columns) representing the dimensions of the DataFrame.

# Q3: What is the purpose of the fillna() function in pandas?
# A3: The fillna() function is used to fill missing values (NaN) in the DataFrame with specified values or strategies. It helps in handling missing data by providing a way to replace the missing values with meaningful or appropriate values.

# Q4: How do you drop rows with missing values in a DataFrame?
# A4: You can use the dropna() function in pandas to remove rows or columns with missing values. In the code, df.dropna() is used to drop rows with missing values from the DataFrame.

# Q5: What is the purpose of the LabelEncoder in scikit-learn?
# A5: The LabelEncoder class in scikit-learn is used for encoding categorical variables into numerical labels. It assigns a unique integer value to each category in the target column. It is useful when working with machine learning algorithms that require numeric inputs.

# Q6: How do you convert the data type of a column in a DataFrame?
# A6: You can use the astype() function in pandas to change the data type of a column. In the code, df['petal_length'] = df['petal_length'].astype(float) converts the 'petal_length' column from the original data type to float.

# Q7: How can you check the count of unique values in a column of a DataFrame?
# A7: You can use the value_counts() function in pandas DataFrame. For example, df['species'].value_counts() returns the count of each unique value in the 'species' column.

# These questions cover various aspects of the code, including descriptive statistics, handling missing values, data type conversion, and encoding categorical variables.