In [4]:
!pip install matplotlib
!pip install pandas

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Requirement already satisfied: matplotlib in c:\users\vaishnavi\appdata\local\programs\python\python311\lib\site-packages (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\vaishnavi\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.0.7)
Requirement already satisfied: cycler>=0.10 in c:\users\vaishnavi\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\vaishnavi\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (4.39.4)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\vaishnavi\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.20 in c:\users\vaishnavi\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.24.3)
Requirement already satisfied: packaging>=20.0 in c:\users\vaishnavi\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\vaishnavi\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (9.5.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\vaishnavi\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\vaishnavi\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\vaishnavi\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

[notice] A new release of pip available: 22.3 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\vaishnavi\appdata\local\programs\python\python311\lib\site-packages (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\vaishnavi\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\vaishnavi\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2022.6)
Requirement already satisfied: tzdata>=2022.1 in c:\users\vaishnavi\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\vaishnavi\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\vaishnavi\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip available: 22.3 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
df=pd.read_csv('Book1a.csv')

In [6]:
df

,Age,Attrition,BusinessTravel,Department,Education,MonthlyIncome
0,32,No,Travel_Rarely,Sales,3,5000
1,45,No,Travel_Frequently,Research & Development,4,6000
2,28,Yes,Travel_Rarely,Human Resources,2,3500
3,33,No,Travel_Rarely,Research & Development,4,7000

In [7]:
#print(df.shape)
#print(df.info)
print(df.columns)

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'Education',
       'MonthlyIncome'],
      dtype='object')

In [8]:
#Mean of monthly income and age
print("The mean of monthly income is :",df.loc[:,"MonthlyIncome"].mean())

The mean of monthly income is : 5375.0

In [9]:
print("The mean of age is :",df.loc[:,"Age"].mean())

The mean of age is : 34.5

In [10]:
#Mode of monthly income and age
print("The median of monthly income is :",df.loc[:,"MonthlyIncome"].median())

The median of monthly income is : 5500.0

In [11]:
print("The median of age is :",df.loc[:,"Age"].median())

The median of age is : 32.5

In [12]:
#Median of monthly income and age
print("The mode of monthly income is :",df.loc[:,"MonthlyIncome"].mode())

The mode of monthly income is : 0    3500
1    5000
2    6000
3    7000
Name: MonthlyIncome, dtype: int64

In [13]:
print("The mode of age is :",df.loc[:,"Age"].mode())

The mode of age is : 0    28
1    32
2    33
3    45
Name: Age, dtype: int64

In [14]:
#Standard deviation of monthly income and age
print("The standard deviation of monthly income is :",df.loc[:,"MonthlyIncome"].std())

The standard deviation of monthly income is : 1493.0394055974098

In [15]:
print("The standard deviation of age is :",df.loc[:,"Age"].std())

The standard deviation of age is : 7.32575365861197

In [16]:
#Storing age and monthly income in array and then finding maximum and minimum values
array1 = np.array(df['MonthlyIncome'])
array2=np.array(df["Age"])
print("Income",array1)
print("Age array",array2)
print("Maximum income among the employees is :",max(array1))
print("Minimum income among the employees is :",min(array1))
print("Maximum age among the employees is :",max(array2))
print("Minimum age among the employees is :",min(array2))

Income [5000 6000 3500 7000]
Age array [32 45 28 33]
Maximum income among the employees is : 7000
Minimum income among the employees is : 3500
Maximum age among the employees is : 45
Minimum age among the employees is : 28

In [17]:


# Replacing the categorical values by numeric values
df.head()

,Age,Attrition,BusinessTravel,Department,Education,MonthlyIncome
0,32,No,Travel_Rarely,Sales,3,5000
1,45,No,Travel_Frequently,Research & Development,4,6000
2,28,Yes,Travel_Rarely,Human Resources,2,3500
3,33,No,Travel_Rarely,Research & Development,4,7000

In [18]:
df["BusinessTravel"].replace({"Travel_Rarely":1, "Travel_Frequently":0}, inplace=True)
df["Attrition"].replace({ "Yes":1, "No":0}, inplace=True)
df.head()

,Age,Attrition,BusinessTravel,Department,Education,MonthlyIncome
0,32,0,1,Sales,3,5000
1,45,0,0,Research & Development,4,6000
2,28,1,1,Human Resources,2,3500
3,33,0,1,Research & Development,4,7000

In [ ]:
# rtainly! Here's an explanation of the keywords used in the code:

# pip install: This command is used to install packages or libraries in Python. It allows you to install external modules that are not included in the standard Python distribution.

# import pandas as pd: This line imports the pandas library and assigns it the alias pd. Pandas is a powerful library for data manipulation and analysis.

# import numpy as np: This line imports the numpy library and assigns it the alias np. NumPy is a fundamental package for scientific computing in Python and provides support for large, multi-dimensional arrays and mathematical functions.

# import matplotlib.pyplot as plt: This line imports the pyplot module from the matplotlib library and assigns it the alias plt. Matplotlib is a plotting library in Python that provides a wide variety of plots and visualization capabilities.

# df=pd.read_csv('Book1a.csv'): This line reads a CSV file named 'Book1a.csv' and stores its contents in a pandas DataFrame called df. The DataFrame is a tabular data structure that allows easy manipulation and analysis of data.

# df.shape: This line returns the dimensions of the DataFrame, i.e., the number of rows and columns.

# df.columns: This attribute of the DataFrame returns the column names present in the DataFrame.

# df.loc: This is a pandas function used to access specific rows and columns of the DataFrame using labels or boolean indexing.

# .mean(): This method calculates the mean of a given column.

# .median(): This method calculates the median of a given column.

# .mode(): This method calculates the mode of a given column.

# .std(): This method calculates the standard deviation of a given column.

# np.array(): This function converts a list or series into a numpy array.

# max(): This function returns the maximum value in a given array or column.

# min(): This function returns the minimum value in a given array or column.

# .replace(): This method replaces specified values in a column with new values.

# Questions related to the assignment:

# Q1: What is the purpose of the .mean() method used in the code?
# A1: The .mean() method is used to calculate the mean (average) value of the specified column. In this code, it is used to find the mean of the 'MonthlyIncome' and 'Age' columns.

# Q2: How are categorical values replaced with numeric values in the code?
# A2: The .replace() method is used to replace specific categorical values with numeric values in the 'BusinessTravel' and 'Attrition' columns. For example, 'Travel_Rarely' is replaced with 1 and 'Travel_Frequently' is replaced with 0 in the 'BusinessTravel' column.

# Q3: How can you find the maximum and minimum values in a given array or column?
# A3: The max() and min() functions are used to find the maximum and minimum values, respectively, in a given array or column. In this code, they are used to find the maximum and minimum values of the 'MonthlyIncome' and 'Age' arrays.

# These questions cover various aspects of the code, including data manipulation, descriptive statistics, and categorical value replacement.





# User
# TELL MEE QUESTIONS AND ANSWERS RELATED TO THIS ASSIGNMENT
# ChatGPT
# Certainly! Here are some questions and their corresponding answers related to the assignment code:

# Q1: What is the purpose of the code df=pd.read_csv('Book1a.csv')?
# A1: The code reads the contents of a CSV file named 'Book1a.csv' and stores it in a pandas DataFrame called df. This allows further analysis and manipulation of the data using pandas functions.

# Q2: How can you check the dimensions (number of rows and columns) of the DataFrame?
# A2: The code df.shape returns the dimensions of the DataFrame. The output will be in the format (number_of_rows, number_of_columns).

# Q3: What does the code df.columns do?
# A3: The code df.columns returns the column names present in the DataFrame. It allows you to access and refer to specific columns by their names.

# Q4: How can you calculate the mean of the 'MonthlyIncome' and 'Age' columns?
# A4: The code df.loc[:, "MonthlyIncome"].mean() calculates the mean of the 'MonthlyIncome' column, and df.loc[:, "Age"].mean() calculates the mean of the 'Age' column.

# Q5: How can you replace categorical values with numeric values in a column?
# A5: The code df["BusinessTravel"].replace({"Travel_Rarely":1, "Travel_Frequently":0}, inplace=True) replaces the values 'Travel_Rarely' with 1 and 'Travel_Frequently' with 0 in the 'BusinessTravel' column. Similarly, df["Attrition"].replace({"Yes":1, "No":0}, inplace=True) replaces 'Yes' with 1 and 'No' with 0 in the 'Attrition' column.

# Q6: How can you find the maximum and minimum values in the 'MonthlyIncome' and 'Age' columns?
# A6: The code max(df["MonthlyIncome"]) returns the maximum value in the 'MonthlyIncome' column, and min(df["MonthlyIncome"]) returns the minimum value. Similarly, max(df["Age"]) returns the maximum value in the 'Age' column, and min(df["Age"]) returns the minimum value.

# These questions cover various aspects of the code, including data reading, dimension checking, descriptive statistics, and categorical value replacement.